external/bin/
external/include/
external/iptables.foo/
external/iptables/
external/jtorctl-build-stamp
external/lib/
external/libevent-build-stamp
external/obfsproxy-build-stamp
external/openssl-static-build-stamp
external/privoxy-build-stamp
external/privoxy/
external/test.c
external/test.h.gch
external/tor-build-stamp
external/translation/
external/simple*
bin
gen
native
local.properties
