[submodule "external/tor"]
	path = external/tor
	url = https://git.torproject.org/git/tor.git
[submodule "external/libevent"]
	path = external/libevent
	url = https://github.com/libevent/libevent.git
[submodule "external/jtorctl"]
	path = external/jtorctl
	url = https://github.com/guardianproject/jtorctl
[submodule "external/ActionBarSherlock"]
	path = external/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "external/openssl"]
	path = external/openssl
	url = git://git.openssl.org/openssl
[submodule "external/iptables"]
	path = external/iptables
	url = git://git.netfilter.org/iptables
[submodule "external/superuser-commands"]
	path = external/superuser-commands
	url = https://github.com/dschuermann/superuser-commands.git
[submodule "external/liballium"]
	path = external/liballium
	url = https://git.torproject.org/user/yawning/liballium.git
[submodule "external/obfsclient"]
	path = external/obfsclient
	url = https://git.torproject.org/user/yawning/obfsclient.git

[submodule "external/polipo"]
	path = external/polipo
	url = https://github.com/jech/polipo.git
[submodule "external/badvpn"]
	path = external/badvpn
	url = https://github.com/guardianproject/badvpn.git
