[submodule "external/jtorctl"]
	path = external/jtorctl
	url = https://github.com/guardianproject/jtorctl
	ignore = dirty
[submodule "external/badvpn"]
	path = external/badvpn
	url = https://github.com/guardianproject/badvpn.git
	ignore = dirty
[submodule "external/jsocks"]
	path = external/jsocks
	url = https://github.com/guardianproject/jsocks.git
	ignore = dirty
