/external/bin/
/external/include/
/external/*-build-stamp
/external/lib/
/external/privoxy/
/external/test.c
/external/test.h.gch
/external/translation/
bin
gen
native
local.properties
builds
/patches/*
obj
releases

# ant build products
build.xml
proguard-project.txt
