<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.torproject.android"
      android:versionName="0.2.2.14-orbot-alpha-0.0.9" android:versionCode="8">
       
       <uses-permission android:name="android.permission.INTERNET" />
 
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
      
        <activity android:name=".Orbot"
                  android:theme="@android:style/Theme.NoTitleBar"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
        </activity>
      
        <activity android:name=".SettingsPreferences"  android:label="@string/app_name"/>
        <activity android:name=".AppManager"  android:label="@string/app_name"/>
        <activity android:name=".WizardActivity"  android:label="@string/app_name"/>
      
    	<service android:name=".service.TorService" android:process=":remote"  android:debuggable="false">
	            <intent-filter>
	                <action android:name="org.torproject.android.service.ITorService" />
	              	<action android:name="org.torproject.android.service.TOR_SERVICE" />
            </intent-filter>
    	</service>
    	
    	<receiver android:name=".OnBootReceiver">
			<intent-filter>
			<action
			android:name="android.intent.action.BOOT_COMPLETED" />
			<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
    	
    	
    </application>
    
    <uses-sdk android:minSdkVersion="3"/>





</manifest> 
