<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.torproject.android" 
      android:versionName="14.0.7.3" 
      android:versionCode="122"
        android:installLocation="auto"      
      >
 	    
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19"/>
 <permission android:name="org.torproject.android.MANAGE_TOR" android:label="@string/permission_manage_tor_label" android:description="@string/permission_manage_tor_description" android:protectionLevel="signature"></permission>
    
 <uses-permission android:name="android.permission.INTERNET" />
 	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	<uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
	<uses-permission android:name="org.torproject.android.MANAGE_TOR"/>

    <application android:name=".OrbotApp" android:icon="@drawable/ic_launcher"
     android:label="@string/app_name" 
     android:description="@string/app_description"
     android:configChanges="locale|orientation|screenSize"
      android:theme="@style/Theme.AppCompat" 
      android:allowBackup="false"
      android:allowClearUserData="true"
      android:largeHeap="true"
      android:persistent="true"
     >
      
        <activity android:name=".Orbot" android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
<!--
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bridge" />
            </intent-filter>
        
         <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            	<action android:name="org.torproject.android.REQUEST_HS_PORT" />
            </intent-filter>
             <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            	<action android:name="org.torproject.android.START_TOR" />
            </intent-filter>
            
             <!-- 
              <intent-filter>
                 <action android:name="android.intent.action.SEND" />
                
                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.ALTERNATIVE" /> 
                 <category android:name="android.intent.category.SELECTED_ALTERNATIVE" /> 
                 
                 <data android:mimeType="*/*" />
             </intent-filter>
               -->
           
        </activity>
        
        <!-- 
        <activity android:name=".OrbotDiagnosticsActivity" android:label="OrbotDiag"/>
         -->
      	
      	<activity android:name=".wizard.LotsaText" android:exported="false"/>
      	<activity android:name=".wizard.Permissions" android:exported="false"/>
      	<activity android:name=".wizard.TipsAndTricks" android:exported="false"/>
      	<activity android:name=".wizard.ConfigureTransProxy" android:exported="false"/>
      	<activity android:name=".wizard.ChooseLocaleWizardActivity" android:exported="false"/>
      	
      	<activity android:name=".settings.SettingsPreferences"  android:label="@string/app_name"/>
        <activity android:name=".settings.AppManager"  android:label="@string/app_name"/>       
      
    	<service android:enabled="true"
    		android:name=".service.TorService" 
    		android:exported="false"
		android:permission="org.torproject.android.MANAGE_TOR"
		android:process=":remote"
    		>
	            <intent-filter>
	                <action android:name="org.torproject.android.service.ITorService" />
	              	<action android:name="org.torproject.android.service.TOR_SERVICE" />
            </intent-filter>
    	</service>
    	
    	
    	<receiver android:name=".OnBootReceiver">
			<intent-filter>
				<action	android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
    	
    </application>
    

</manifest> 
