<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.torproject.android" 
      android:versionName="15.2.0-beta-1" 
      android:versionCode="15200010"
        android:installLocation="auto"      
      >
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23"/>
    <!-- 
 <permission android:name="org.torproject.android.MANAGE_TOR" 
     android:label="@string/permission_manage_tor_label" 
     android:description="@string/permission_manage_tor_description" 
     android:protectionLevel="signature"/>
 
	<uses-permission android:name="org.torproject.android.MANAGE_TOR"/>
	-->
	
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:name="org.torproject.android.OrbotApp" android:icon="@drawable/ic_launcher"
     android:label="@string/app_name" 
     android:description="@string/app_description"
     android:configChanges="locale|orientation|screenSize"
      android:theme="@style/DefaultTheme" 
      android:allowBackup="false"
      android:allowClearUserData="true"
      android:persistent="true"
      android:stopWithTask="false"
      android:largeHeap="false"
     >
      
        <activity android:name=".OrbotMainActivity" 
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
          
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bridge" />
            </intent-filter>
        
         <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="org.torproject.android.REQUEST_HS_PORT" />
            </intent-filter>
             <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="org.torproject.android.START_TOR" />
            </intent-filter>
            
        </activity>

        <!-- 
        This is for ensuring the background service still runs when/if the app is swiped away
         -->
      	<activity
			android:name=".service.util.DummyActivity"
			android:theme="@android:style/Theme.Translucent"
			android:enabled="true"
			android:allowTaskReparenting="true"
			android:noHistory="true"
			android:excludeFromRecents="true"
			android:alwaysRetainTaskState="false"
			android:stateNotNeeded="true"
			android:clearTaskOnLaunch="true"
			android:finishOnTaskLaunch="true"
			
			/> 
		
      	<activity
			android:name=".vpn.VPNEnableActivity" android:label="@string/app_name" android:exported="false"
			android:theme="@android:style/Theme.Translucent"			
			/> 
		
			      	
      	<activity android:name="org.torproject.android.ui.PromoAppsActivity" android:exported="false"/>
      	
      	
      	<activity android:name=".settings.SettingsPreferences"  android:label="@string/app_name"/>
        <activity android:name=".ui.AppManager"  android:label="@string/app_name"/>
      
        <service
            android:name=".service.TorService"
            android:enabled="true"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:stopWithTask="false" >
        </service>


		<service
			android:name=".service.vpn.TorVpnService"
			android:enabled="true"
			android:permission="android.permission.BIND_VPN_SERVICE" >
			<intent-filter>
				<action android:name="android.net.VpnService"/>
			</intent-filter>
		</service>

        <receiver
            android:name=".service.StartTorReceiver"
            android:exported="true">
             <intent-filter>
                 <action android:name="org.torproject.android.intent.action.START" />
             </intent-filter>
        </receiver>

   	<receiver android:name=".OnBootReceiver"
   	    android:enabled="true" android:exported="true"
   	    
   	    >
			<intent-filter>
				<action	android:name="android.intent.action.BOOT_COMPLETED" />
				  <category android:name="android.intent.category.HOME" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.QUICKBOOT_POWERON" />
				  <category android:name="android.intent.category.HOME" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_MOUNTED"/>
				  <category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>

</application>
</manifest> 
